    <h1>Editing Pet</h1>

    <%= render 'form', pet: @pet %>
    </br>
    <%= link_to 'Show', @pet, class:"btn btn-secondary btn-sm" %> |
    <% if user_signed_in? %>
        <%= link_to 'Back', pets_path, class:"btn btn-secondary btn-sm"%>
    <% else %>
        <%= link_to 'Back', home_index_path, class:"btn btn-secondary btn-sm"%>
    <% end %>