<% if user_signed_in? %>
    <h1>New Pet</h1>
    
    <%= render 'form', pet: @pet %>
    
    <%= link_to 'Back', pets_path, class:"btn btn-secondary btn-sm" %>
<% else %> 
    <br/>
    <h3>You don't have access to this page. Please login.</h3>
<% end %>