<br/>
<h3><u>Set Up Notifcation</u></h3>
<br/>
<h3><u>Check Pet Status</u></h3>
<br/>
  
  <%= form_tag("pets", method: "get") do %>
  <%= number_field_tag(:chipNumber, params[:chipNumber]) %>
  <%= submit_tag("Check Status") %>
  <% end %>